<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header'); -%>

<body class="home">
  <div id="wrapper">

    <!-- Loader -->
    <%- include('layouts/loader'); -%>

    <!-- Navigation -->
    <%- include('layouts/navbar'); -%>

    <main id="main" class="site-main">
      <section class="page-title" style="background-image: url(/img/blog_page_01.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <h1>Our blog</h1>
          <!-- <ul class="breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="current">Blog List</li>
          </ul> -->
        </div><!-- .container -->
      </section><!-- .page-title -->

      <div class="container">
        <div class="row">
          <div class="col-md-8 main-content">

            <% for (var i = 0; i < blogposts.length; i++) { %>
            <article class="post">
              <a class="post-thumb hover-cycle" <a href="/post/<%= blogposts[i]._id %>">
                <img src="<%= blogposts[i].image %>" alt="">
              </a>
              <div class="post-info">
                <h3 class="post-title"><a href="/post/<%= blogposts[i]._id %>"><%= blogposts[i].title %></a></h3>
                <ul class="post-meta">
                  <li>Posted on <a href="#"><%= blogposts[i].datePosted.toDateString() %></a></li>
                  <li>By <a href="#"><%= blogposts[i].userid.username %></a></li>
                  <li>Category <a href="#">Design</a></li>
                </ul>
                <p class="post-desc"><%- blogposts[i].subtitle %></p>
                <h4 class="post-desc"> <a href="/post/<%= blogposts[i]._id %>">Continue reading . . .</a></h4>
              </div>
            </article>
            <% } %>

            <nav class="pagination">
              <ul>
                <li><span class="current">1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </nav>
          </div>

          <%- include('layouts/aside'); -%>

        </div>
      </div><!-- .container -->
    </main><!-- .site-main -->

    <%- include('layouts/footer'); -%>
  </div>
</body>

</html>
